.container {
    margin-top: 50px;
  }
  .btn-short {
    width: 70px;
    /* height: fit-content; */
  }
  table {
    width: 100%;
    margin: 50px auto;
    /* border-collapse: collapse;
    border: 2px solid #ddd;  */
  }
  th, td {
    padding: 12px;
    text-align: left;
    /* border: 1px solid #ddd; */
  }
  th {
    background-color: rgb(47, 200, 115);
    color: rgb(0, 0, 0);
  }