<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="ActivityForm">
            <div class="mb-3">
                <label for="id-input" class="form-label">ID:</label>
                <input type="text" class="form-control" id="id-input" formControlName="id">
            </div>
            <div class="mb-3">
                <label for="name-input" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name-input" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="code-input" class="form-label">Code:</label>
                <input type="text" class="form-control" id="code-input" formControlName="code">
            </div>
        </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="addData()">Save</button>
	</div>
</ng-template>

<div class="container">
    <button class="btn btn-lg btn-outline-primary" style="position: absolute; top: 100px; right: 10px;" (click)="open(content)">Add New Activity</button>
    <div class="row justify-content-center mt-5">
        <div class="col-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Functionality</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.code }}</td>
                        <td class="actions">
                            <button class="btn btn-sm btn-primary btn-edit" (click)="onEdit(item.id)">Edit</button>
                            <button class="btn btn-sm btn-danger btn-action" (click)="onDelete(item.id)" >Delete</button>
                          </td>
                      </tr>
                </tbody>
            </table>
            <!-- <div class="edit-form" *ngIf="showEditForm">
                <form #editForm="ngForm">
                  <div class="form-group">
                    <label for="editName">Name</label>
                    <input type="text" class="form-control" id="editName" name="name" [(ngModel)]="editItem.name" required>
                  </div>
                  <div class="form-group">
                    <label for="editDescription">Description</label>
                    <textarea class="form-control" id="editDescription" name="description" [(ngModel)]="editItem.description" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="editPrice">Price</label>
                    <input type="number" class="form-control" id="editPrice" name="price" [(ngModel)]="editItem.price" required>
                  </div>
                </form>
                <button class="btn btn-primary" (click)="onSave()">Save</button>
              </div> -->
        </div>
    </div>
</div>

