<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="ActivityForm">
            <div class="mb-3">
                <label for="id-input" class="form-label">ID:</label>
                <input type="text" class="form-control" id="id-input" formControlName="id">
            </div>
            <div class="mb-3">
                <label for="name-input" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name-input" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="code-input" class="form-label">Code:</label>
                <input type="text" class="form-control" id="code-input" formControlName="code">
            </div>
        </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="addData()">Save</button>
	</div>
</ng-template>

<div class="container">
    <button class="btn btn-lg btn-outline-primary" style="position: absolute; top: 100px; right: 10px;" (click)="open(content)">Add New Activity</button>
    <div class="row justify-content-center mt-5">
        <div class="col-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.code }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
