.container {
    margin-top: 50px;
  }
   table {
    width: 100%;
    margin: 50px auto;
    border-collapse: collapse;
    border: 2px solid #ddd; 
  }
  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  th {
    background-color: rgb(47, 200, 115);
    color: rgb(0, 0, 0);
  }

  button {
    margin-bottom: 20px;
   
  }
  button.btn-edit {
    margin-right: 10px;
  }
  
  button.btn-action {
    margin-left: 10px;
  }
  
  td.actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  