<!-- <div class="content">
    <div class="activity">
      <label for="activity-input">Enter activity information:</label>
      <input type="text" id="activity-input" #activityInput (keydown.enter)="addActivity(activityInput.value); activityInput.value='';">
      <div class="activity-data">
       
      </div>
    </div>
  </div>
   -->

  
  <div class="main-container">
    <label for="activity-input">Activity:</label>
    <input type="text" id="activity-input" #newActivity>
    <button type="button" (click)="addActivity(newActivity.value)">Add</button>
    <div *ngFor="let activity of activityData">{{ activity }}</div>
    <div *ngFor="let data of activityData">{{ data }}</div>
  </div>