.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  