<app-header></app-header>
<!-- <div class="wrapper">
  <router-outlet></router-outlet>
</div> -->
<app-dashboard (activityInfo)="updateActivityInfo($event)"></app-dashboard>
<!-- <app-my-content  ></app-my-content> -->
<div class="main-content">
  <app-my-content ></app-my-content>
</div>
<app-footer></app-footer>

<!-- <div class="header-container">
  <app-header></app-header>
</div>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<div class="sidebar-container">
  <app-sidebar></app-sidebar>
</div> -->
<!-- 
<div class="content-container">
   <app-my-content></app-my-content>
</div> -->

<!-- <div class="footer-container">
  <app-footer></app-footer>
</div> --> 
