<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card shadow-lg p-5 mb-5 mt-5">
                <h2>Welcome</h2><hr style="margin-top: 0px;">
                <div class="alert alert-success">
                    <a routerLink="/login" class="text-primary" style="cursor:pointer">Login here </a>
                </div> 
                <form [formGroup]="signupFrom" class ="text-left" action="">
                    <div class="form-group">
                        <label>Display name</label>
                        <input type="text" name="" id="" class="form-control" placeholder="username" formControlName="displayName">

                        <label>Email name</label>
                        <input type="email" name="" id="" class="form-control" placeholder="Email Id here" formControlName="email">

                        <label>Password </label>
                        <input type="password" name="" id="" class="form-control" placeholder="********" formControlName="password">
                    </div><br>
                    <button class="btn btn-outline-primary btn-block" (click)="signup()">
                        SignUp
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

