strong {
    padding:15px;
}

.navbar {
    padding-top: 8px; /* increase the top padding */
    padding-bottom: 8px; /* increase the bottom padding */
  }

  img{
    margin-left: 15px;
    width: 60px;
    height: 55px
  }