<!-- <nav class="navbar navbar-dark bg-info"> -->
<nav class="navbar navbar-dark bg-primary" style="background-color: #0D6EFD;">
    <div style="display: flex; align-items: center;">
        <img src="https://gcdnb.pbrd.co/images/Nwg2nFKUKhoG.png?o=1" alt="logo">
        <a class="navbar-brand" routerLink="/dashboard"><strong>TIMESHEET</strong> </a>
    </div>
    <!-- <div class="form-inline" >
        <button class="btn btn-dark mr-sm-2" routerLink="/login">Login</button>
        <button class="btn btn-warning my-2 my-sm-0" routerLink="/register">Signup</button>
    </div> -->
    <div class="form-inline" class="nav navbar-nav navbar-right" style="margin-right: 10px;">
        <!-- <div class=" text-while">hello,admin</div> -->
        <button *ngIf="islogged" class="btn btn-warning my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
</nav>
