<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Employee Details</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="EmployeeForm" class ="text-left" action="">
            <div class="form-group"><br/>
                <label>id</label>
                <input type="text" class="form-control" placeholder="First Name" formControlName="firstname">

                <label>name</label>
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">

                <label>code </label>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div><br>
        </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="employee()">Save</button>
	</div>
</ng-template>