<div class="sidebar">
    <button type="button" class="btn btn-primary" (click)="showActivity()">Activity</button>
    <button type="button" class="btn btn-primary" (click)="showEmployee()">Employee</button>
    <button type="button" class="btn btn-primary" (click)="showProject()">Project</button>
</div>
<div class="rightbar">
    <ng-container *ngIf="activeButton === 'activity' || !activeButton">
        <app-activity></app-activity>
    </ng-container>
    <ng-container *ngIf="activeButton === 'employee'">
        <app-employee></app-employee>
    </ng-container>
    <ng-container *ngIf="activeButton === 'project'">
        <app-project></app-project>
    </ng-container>
</div>