<!-- <div class="footer navbar-dark bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Address</h4>
                <p>pune,bavdhan<br>
                pin code 411046,India</p>
            </div>
            <div class="col-md-4">
                <h4>comapny name</h4>
                <p>pune,bavdhan<br>
                pin code 411046,India</p>
            </div>
            <div class="col-md-5">
                <h4>Social link</h4>
                <a href="#" class="fa fa-linkedin">&nbsp;</a>
                <a href="#" class="fa fa-instagram">&nbsp;</a>
                <a href="#" class="fa fa-twitter">&nbsp;</a>
                <a href="#" class="fa fa-google">&nbsp;</a>
                <a href="#" class="fa fa-facebook">&nbsp;</a>  
                <a href="#" class="fa fa-youtube">&nbsp;</a>
                <a href="#" class="fa fa-skype">&nbsp;</a>
                <a href="#" class="fa fa-yahoo">&nbsp;</a>
             
           
              
            </div>
        </div>
    </div>
</div> -->
<div class="footer navbar-dark bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h4><strong>Address</strong></h4>
                <p>Bavdhan<br>
                 Pune, Maharashtra 411021</p>
            </div>
            <div class="col-md-6 col-lg-3 align-self-middle text-md-right">
                <h4><strong>About </strong></h4>
                <div class="d-inline-flex-mid">
                    <a href="https://www.linkedin.com/company/droneacharya/" class="fa fa-linkedin">&nbsp;</a>
                    <a href="https://instagram.com/droneacharya_official" class="fa fa-instagram">&nbsp;</a>
                    <a href="https://twitter.com/DroneAcharyaIN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter">&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
</div>